@font-face {
    font-family: 'Chillax';
    src: url(../fuentes/Chillax_Complete/Chillax_Complete/Fonts/WEB/css/chillax.css);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'chillax';
}

p {
    font-size: 14px;
    color: #888787;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    line-height: 20px;
}

header {
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;    
}

.logo-site a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    color: #222323;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #222323;
}

.btn-black a {
    background-color: #222323;
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.hero {
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
    position: relative;
}

.hero-content {
    max-width: 800px;
    padding: 60px;
}

.hero-content h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 86px;
    margin: 40px 0;
}

.hero-content p {
    color: #eeeeee;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 22px;
    margin-bottom: 40px;
    text-align: start;
}

.btn-explore {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .btn-explore {
    position: absolute;
    right: 100px;
    bottom: 100px;
}

.btn-explore i {
    background-color: #222323;
    color: #d9d9d9;
    font-size: 20px;
    border-radius: 50%;
    border: 0.5px solid #d9d9d9;
    padding: 10px;
    margin: 0 10px;
}

.btn-explore a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 172vh;
}

.services-content {
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.min-text {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 40px;
    margin-bottom: 10px;
    margin-top: 40px;
    border-left: 1.8px solid #888787;
    border-right: 1.8px solid #888787;
}

.services-content h2 {
    color: #222323;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    line-height: 54px;
    margin: 40px 0;
    max-width: 800px;
}

.services-content p {
    margin-bottom: 40px;
    max-width: 400px;
}

.btn-vm a {
    color: #222323;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.btn-vm i {
    color: #222323;
    font-size: 20px;
    border-radius: 50%;
    border: 0.5px solid #d9d9d9;
    padding: 10px;
    margin-left: 10px;
    transform: rotate(-135deg);
}

.services-img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 8px;
}

.services-img-content div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
}

.img-service-1 {
    background-image: url(../imagenes/acerca-de/about-img1.jpg);
}

.img-service-2 {
    background-image: url(../imagenes/acerca-de/about-img1.jpg);
}

.img-service-3 {
    background-image: url(../imagenes/acerca-de/about-img1.jpg);
}

.services-img-content p {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 32px;
    max-width: 220px;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 350vh;
}

.projects-content {
    padding: 120px 60px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.img-project-1 {
    background-image: url(../imagenes/hero/proyects/project1-hero.jpg);
    height: 100%;
}

.img-project-2 {
    background-image: url(../imagenes/hero/proyects/project2-hero.jpg);
    height: 100%;
}

.img-project-3 {
    background-image: url(../imagenes/hero/proyects/project3-hero.jpg);
    height: 100%;
}

.projects-content .min-text {
    border-right: none;
    padding-left: 20px;
    margin: 0;
}

.projects-content h2 {
    color: #222323;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 4px;
    line-height: 54px;
    margin: 40px 0;
    max-width: 800px;
}

.projects-content p {
    text-align: start;
    margin-bottom: 40px;
}

.projects-content .btn-vm a {
    padding-left: 0;
}

.projects-img-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 8px;   
}

.projects-img-content div {
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 60px;
}

.projects-img-content h3 {
    color: #fff;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 32px 0;
    max-width: 300px;
}

.projects .btn-explore {
    padding: 0;
    display: contents;
}

.projects .btn-explore i {
    margin-left: 0;
    transform: rotate(-135deg);
}

.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250vh;
}

.testimonials-content {
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials-content h2 {
    color: #222323;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    line-height: 54px;
    margin: 40px 0;
    max-width: 600px;
}

.testimonials-content p {
    text-align: center;
    margin: 40px 0;
    max-width: 500px;
}

.testimonials-clients{
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
    max-width: 1200px;
}

.client {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 
        8px 8px 16px #bebebe,
        -8px -8px 16px #ffffff;
    flex: 1 1 calc(33.333% - 40px);
    padding: 36px 48px;
}

.client h3 {
    color: #222323;
    font-size: 22px;
    font-weight: 500;
    text-align: start;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 4px;
    line-height: 32px;
    margin: 40px 0;
    max-width: 200px;
}

.client p {
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    text-align: start;
    line-height: 24px;
    margin: 40px 0;
}

.client .client-info {
    display: flex;
    justify-content: start;
    padding: 0;
}

.client-info div {
    padding: 0;
}

.client-info div p {
    padding: 0;
    margin: 0;
}

.client-info .company {
    color: #888787;
    font-size: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.client-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    filter: grayscale(80%);
}

.blogs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200vh;
}

.blogs-content {
    padding: 180px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blogs-content h2 {
    color: #222323;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    word-spacing: 8px;
    line-height: 64px;
    margin: 50px 0;
    max-width: 1000px;
}

.blogs-img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 8px;
}

.blogs-img-content div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
    height: 100%;
}

.img-blog-1 {
    background-image: url(../imagenes/hero/blog/blog1-hero.jpg);
}

.img-blog-2 {
    background-image: url(../imagenes/hero/blog/blog2-hero.jpg);
}

.img-blog-3 {
    background-image: url(../imagenes/hero/blog/blog3-hero.jpg);
}

.blogs-img-content h3 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 24px;
    margin: 40px 0;
    max-width: 70%;
}

.btn-arrow {
    background-color: #222323;
    color: #d9d9d9;
    font-size: 20px;
    border-radius: 50%;
    border: 0.5px solid #d9d9d9;
    padding: 10px;
    margin: 10px;
    transform: rotate(-135deg);
}

.blogs-img-content div div {
    display: contents;
}

.contact {
    background-color: #161717;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 140vh;
}

.contact-content {
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-content h2 {
    color: #ffffff;
    font-size: 72px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
    line-height: 88px;
    margin: 50px 0;
    max-width: 800px;
}

.contact-content p {
    text-align: center;
    margin-bottom: 40px;
    line-height: 24px;
}

.btn-contact {
    background: #161717;
    border-radius: 12px;
    box-shadow: 
        18px 8px 24px #0a0a0a, 
        -1px -1px 64px #3d3d3d;
    padding: 20px;
    margin: 20px;
}

.btn-contact:hover {
    box-shadow: 
        0 0 100px #3d3d3d;
    border: 0.1px solid #888787;
}

.btn-contact a {
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-contact i {
    transform: rotate(-135deg);
    margin-left: 10px;
}

.btn-contact:hover i {
    transform: rotate(-135deg) scale(1.2) translateY(2px);
}

footer {
    background-color: #111;
    height: 80vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

footer div div {
    width: 30%;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    gap: 44px;
    padding: 36px;
    margin-top: 72px;
}

.column-name-site {
    padding: 0 20px;
    margin-right: 54px;
}

.column-name-site h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.column-list h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 54px;
}

.footer-content p {
    font-size: 12px;
    line-height: 24px;
    text-align: start;
    max-width: 80%;
}

.column-list ul {
    list-style-type: none;
}

.column-list ul i {
    transform: rotate(-135deg);
}

.column-list ul a {
    color: #acacac;
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 8px;
    margin: 16px 0;
}

.column-list ul a:hover {
    color: #acacac;
    border-bottom: 1px solid #acacac ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    background-color: #111;
    width: 100%;
    padding: 30px 36px;
    margin: 20px 0;
    font-size: 12.5px;
    font-weight: 400;
    text-align: start;
    letter-spacing: 2px;
}

.service-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.s-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 700px;
}

.s-page-content h1 {
    font-size: 72px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 36px;
}

.s-page-content p {
    margin-bottom: 36px;
}

.service-page .btn-explore a {
    color: #161717;
    font-weight: 400;
    letter-spacing: 1px;
}

.service-1 {
    background-image: url(../imagenes/servicios/service-1.jpg);
}
.service-2 {
    background-image: url(../imagenes/servicios/service-2.jpg);
}

.service-3 {
    background-image: url(../imagenes/servicios/service-3.jpg);
}

.hero-pink {
    background-image: url(../imagenes/hero/hero-pink.jpg);
} 

.parallax {
    filter: grayscale(60%) sepia(30%);    
    height: 60vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p-service-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 80px 60px;
    margin: 10px 0;
    width: 100%;
}

.title-service {
    width: 40%;
    padding: 10px;
}

.title-service h2 {
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;
    max-width: 200px;
}

.title-service p {
    letter-spacing: 2px;
    text-align: start;
    border-right: none;
    padding: 0 20px;
    max-width: 250px;
}

.text-service {
    width: 60%;
    padding: 10px;
}

.text-service p {
    line-height: 22px;
    text-align: start;
    margin: 10px;
}

.text-service ul {
    padding: 0 20px;
    margin: 10px 20px;
}

.text-service li {
    color: #888787;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 6px 0;
}

.project-page {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 60px;
    height: 80vh;
}

.project-page .btn-explore a {
    color: #161717;
    font-weight: 400;
    letter-spacing: 1px;
}

.p-page-content {
    max-width: 700px;
}

.p-page-content h1 {
    font-size: 72px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    max-width: 500px;
    margin: 36px 0;
}

.p-page-content p {
    text-align: start;
    margin: 10px 0;
}

.first-project {
    background-image: url(../imagenes/hero/proyects/project1-hero.jpg);
}

.second-project {
    background-image: url(../imagenes/hero/proyects/project2-hero.jpg);
}

.third-project {
    background-image: url(../imagenes/hero/proyects/project3-hero.jpg);
}

.fourth-project {
    background-image: url(../imagenes/hero/proyects/project4-hero.jpg);
}

.fifth-project {
    background-image: url(../imagenes/hero/proyects/project5-hero.jpg);
}

.parallax-text {
    filter: grayscale(40%);    
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: start;
    text-align: start;
    color: white;
    margin-bottom: 16px;
}

.overlay {
    max-width: 650px;
    padding: 60px;
    border-radius: 10px;
}

.overlay i {
    transform: rotate(-135deg);
}

.overlay h2 {
    font-size: 54px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 10px 0;
}

.overlay p {
    color: #eeeeee;
    text-align: start;
    margin: 24px 0;
}

.overlay .btn-explore {
    justify-content: start;
}

.overlay .btn-explore i {
    margin-left: 0;
}

.about-me-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    height: 80vh;
    width: 100%;
}

.am-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 700px;
}

.am-page-content .min-text {
    margin-bottom: 36px;
}

.am-page-content h1 {
    font-size: 72px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 36px;
}

.am-page-content p {
    margin-bottom: 96px;
}

.about-me-page .btn-explore a {
    color: #161717;
    font-weight: 400;
    letter-spacing: 1px;
}

.am-text-content {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 100px;
    height: 86vh;
    width: 100%;
}

.am-text-content .min-text {
    font-size: 10px;
    letter-spacing: 3px;
    border-right: none;
    padding: 0 20px;
    margin-bottom: 40px;
}

.am-text-content h2 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: start;
    text-transform: uppercase;
    margin: 24px 0;
    max-width: 200px;
}

.am-text-content p {
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    letter-spacing: 1px;
    line-height: 22px;
    margin: 8px 0;
}

.am-text-img-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    width: 100%;
    height: 86vh;
}

.ab-img-1 {
    background-image: url(/imagenes/acerca-de/about-img1.jpg);
}

.ab-img-2 {
    background-image: url(/imagenes/acerca-de/about-img3.jpg);
}

.ab-img-3 {
    background-image: url(/imagenes/acerca-de/about-img5.jpg);
}

.am-img-1-content {
    width: 45%;
    height: 100%;
    background-image: url(../imagenes/acerca-de/about-img2.jpg);
    filter: grayscale(80%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.am-img-2-content {
    width: 50%;
    height: 100%;
    background-image: url(../imagenes/acerca-de/about-img4.jpg);
    filter: grayscale(80%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.am-text-2-content {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 80px;
    width: 50%;
}

.am-text-2-content .min-text {
    font-size: 10px;
    letter-spacing: 3px;
    border-right: none;
    padding: 0 20px;
    margin-bottom: 40px;
}

.am-text-2-content h2 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: start;
    text-transform: uppercase;
    margin: 24px 0;
    max-width: 400px;
}

.am-text-2-content p {
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    letter-spacing: 1px;
    line-height: 22px;
    margin: 8px 0;
}

.am-text-2-content ul {
    padding: 0 20px;
    margin: 20px;
}

.am-text-2-content li {
    color: #888787;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 22px;
    margin: 10px 0;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 180vh;
    margin: 16px 0;
}

.team-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    margin-bottom: 40px;
    max-width: 700px;
}

.team-content h2 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin: 48px 0;
    max-width: 350px;
}

.team-img-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 16px;
}

.team-img-content div {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
    width: 33%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(60%);
}

.team-1 {
    background-image: url(/imagenes/acerca-de/team/team-1.jpg);
}

.team-2 {
    background-image: url(/imagenes/acerca-de/team/team-2.jpg);
}

.team-3 {
    background-image: url(/imagenes/acerca-de/team/team-3.jpg);
}

.team-img-content h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8px;
    max-width: 200px;
}

.team-img-content p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    max-width: 200px;
}

.team-img-content ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.team-img-content li {
    list-style-type: none;
    margin: 2px;
}

.team-img-content i {
    background-color: #222323;
    padding: 8px;
    color: #fff;
    font-size: 24px;
}

.blog-page .p-page-content {
    max-width: 900px;
}

.blog-page .p-page-content h1 {
    max-width: 804px;
}

.blog-page .p-page-content p {
    max-width: 700px;
}

.blog-page .overlay {
    max-width: 920px;
}

.blog-page .overlay h2 {
    margin-bottom: 40px;
}

.blog-page .overlay p {
    max-width: 600px;
}

.first-blog {
    background-image: url(../imagenes/hero/blog/blog1-hero.jpg);
}

.second-blog {
    background-image: url(../imagenes/hero/blog/blog2-hero.jpg);
}

.third-blog {
    background-image: url(../imagenes/hero/blog/blog3-hero.jpg);
}

.fourth-blog {
    background-image: url(../imagenes/hero/blog/blog4-hero.jpg);
}

.fifth-blog {
    background-image: url(../imagenes/hero/blog/blog5-hero.jpg);
}

.contact-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.contact-title {
    background-image: url(/imagenes/hero/hero-pink.jpg);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 80px;
    height: 100%;
    width: 50%;
}

.contact-title .min-text {
    color: #fff;
    border-left: 1px solid #fff;
    border-right: none;
    padding: 0 10px;
    margin-bottom: 20px;
}

.contact-title h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    text-align: start;
    text-transform: uppercase;
    max-width: 300px;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

label {
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    margin-top: 18px;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #161717;
    padding: 8px 0;
    margin-top: 4px;
    outline: none;
}

input::placeholder {
    font-family: 'Chillax';
    color: #acacac;
    font-size: 14px;
    font-weight: 400;
    text-align: start;
}


textarea {
    width: 100%;
    font-family: 'Chillax';
    color: #acacac;
    font-size: 14px;
    font-weight: 400;
    text-align: start; 
    border: none;
    border-bottom: 1px solid #161717;
    padding: 8px 0;
    margin-top: 4px;
    resize: none; 
    outline: none;
}

button {
    background-color: #161717;
    color: #eeeeee;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 16px;
    margin-top: 64px;
    width: 100%;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 16px 0;
}

.c-content-info {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 80px 100px;
    width: 45%;
}

.c-content-info div {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid #161717;
}

.c-content-info .min-text {
    border-right: none;
    padding: 0 10px;
    margin-bottom: 48px;
}

.c-content-info h2 {
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 4px 0;
}

.c-content-info p {
    text-align: start;
}

.c-content-info ul {
    padding: 0 10px;
    margin: 10px;
}

.c-content-info li {
    color: #888787;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 6px 0;
}

.contact-img {
    width: 55%;
    height: 100%;
    background-image: url(/imagenes/contacto/contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(60%);
}


.project-extend .p-service-content .min-text {
    font-size: 14px;
    padding: 10px 20px;
    max-width: 100px;
}

.project-extend .text-service p {
    margin: 20px 0;
}

.project-extend .text-service li {
    line-height: 24px;
    margin: 10px 0;
}

.p-service-content h1 {
    font-size: 64px;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 100px;
}

.project1-img-1 {
    background-image: url(/imagenes/hero/proyects/project1-hero.jpg);
}

.project1-img-2 {
    background-image: url(/imagenes/proyectos/project1/project1-img2.jpg);
}

.project1-img-3 {
    background-image: url(/imagenes/proyectos/project1/project1-img3.jpg);
}

.project1-img-4 {
    background-image: url(/imagenes/proyectos/project1/project1-img4.jpg);
}

.project1-img-5 {
    background-image: url(/imagenes/proyectos/project1/project1-img5.jpg);
}

.project2-img-1 {
    background-image: url(/imagenes/hero/proyects/project2-hero.jpg);
}

.project2-img-2 {
    background-image: url(/imagenes/proyectos/project2/project2-img2.jpg);
}

.project2-img-3 {
    background-image: url(/imagenes/proyectos/project2/project2-img3.jpg);
}

.project2-img-4 {
    background-image: url(/imagenes/proyectos/project2/project2-img4.jpg);
}

.project2-img-5 {
    background-image: url(/imagenes/proyectos/project2/project2-img5.jpg);
}

.project3-img-1 {
    background-image: url(/imagenes/hero/proyects/project3-hero.jpg);
}

.project3-img-2 {
    background-image: url(/imagenes/proyectos/project3/project3-img2.jpg);
}

.project3-img-3 {
    background-image: url(/imagenes/proyectos/project3/project3-img3.jpg);
}

.project3-img-4 {
    background-image: url(/imagenes/proyectos/project3/project3-img4.jpg);
}

.project3-img-5 {
    background-image: url(/imagenes/proyectos/project3/project3-img5.jpg);
}

.project4-img-1 {
    background-image: url(/imagenes/hero/proyects/project4-hero.jpg);
}

.project4-img-2 {
    background-image: url(/imagenes/proyectos/project4/project4-img2.jpg);
}

.project4-img-3 {
    background-image: url(/imagenes/proyectos/project4/project4-img3.jpg);
}

.project4-img-4 {
    background-image: url(/imagenes/proyectos/project4/project4-img4.jpg);
}

.project4-img-5 {
    background-image: url(/imagenes/proyectos/project4/project4-img5.jpg);
}

.project5-img-1 {
    background-image: url(/imagenes/hero/proyects/project5-hero.jpg);
}

.project5-img-2 {
    background-image: url(/imagenes/proyectos/project5/project5-img2.jpg);
}

.project5-img-3 {
    background-image: url(/imagenes/proyectos/project5/project5-img3.jpg);
}

.project5-img-4 {
    background-image: url(/imagenes/proyectos/project5/project5-img4.jpg);
}

.project5-img-5 {
    background-image: url(/imagenes/proyectos/project5/project5-img5.jpg);
}

.p-ex-text {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding: 80px;
    margin: 16px 0 48px 0;
}

.p-ex-text h2 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: start;
    text-transform: uppercase;
    margin: 40px 0;
    max-width: 100px;
}

.p-ex-text h3 {
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
}

.p-ex-text ul {
    padding: 10px;
    margin: 0 20px;
}

.p-ex-text li {
    color: #888787;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 6px 0;
}


.p-blog-title .about-me-page {
    height: 100vh;
}

.p-blog-title .am-page-content {
    padding: 36px 0;
    max-width: 1400px;
}

.p-blog-title .am-page-content h1 {
    font-size: 64px;
    margin: 20px 0 40px 0;
}

.p-blog-title .am-page-content p {
    max-width: 850px;
    margin: 20px 0;
}

.p-blog-title .am-page-content .min-text {
    margin-bottom: 48px;
}

.blog1-img1 {
    background-image: url(../imagenes/hero/blog/blog1-hero.jpg);
}

.blog2-img1 {
    background-image: url(../imagenes/hero/blog/blog2-hero.jpg);
}

.blog3-img1 {
    background-image: url(../imagenes/hero/blog/blog3-hero.jpg);
}

.blog4-img1 {
    background-image: url(../imagenes/hero/blog/blog4-hero.jpg);
}

.blog5-img1 {
    background-image: url(../imagenes/hero/blog/blog5-hero.jpg);
}

.blog-text-list {
    padding: 2% 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bl-text1 {
    margin: 54px 0;
}

.blog-text-list .min-text {
    color: #777777;
    font-size: 16px;
    text-align: start;
    border-right: none;
    border-left: 2px solid #777777;
    padding: 0 16px;
}

.blog-text-list h2 {
    margin: 0 0 48px 0;
}

.blog-text-list p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    text-align: start;
    margin: 10px 0;
}

.blog-text-list h3 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 24px 0 4px 0;
}

.blog-text-list ul {
    padding: 10px;
    margin: 10px;
}

.blog-text-list li {
    color: #888787;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 10px;
}

.blog-text-list .blog-img img {
    width: 100%;
    margin-top: 10px;
}

.blog-conclusion {
    background-color: #222323;
    padding: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.blog-conclusion h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 4px 0;
}

.blog-conclusion p {
    margin: 24px 0;
}

.blog-conclusion .client-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
}

.blog-conclusion .client-info div {
    width: 100px;
}

.blog-conclusion .client-info p {
    letter-spacing: 1.5px;
    margin-left: 10px;
    color: #d9d9d9;
    width: 600px;
}